/* Dynamic viewport height for iOS Safari compatibility */

@media (max-width: 640px) {
  .app-main-container {
    height: auto !important;
    min-height: 0 !important;
    overflow: visible !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
  }
}
html ::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}
/* *::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 10px;
} */
body {
  font-family: "Inter", sans-serif;
  padding-top: 0.5rem;
  min-height: -webkit-fill-available;
  overscroll-behavior: none;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
    height: auto;
    text-wrap: balance;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@supports (-webkit-touch-callout: none) {
  .safari-fix {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure proper vertical centering */
    max-width: 100%; /* Prevent layout shifts */
    box-sizing: border-box; /* Consistent box model */
  }
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --radius: 0.6rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* Your other styles follow... */

/* global.css or styles.css */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.live-dot {
  color: red; /* Red color for the dot */
  font-weight: bold;
  margin-left: 8px; /* Add a little space between the text and the dot */
  animation: blink 1s infinite; /* Blinking effect */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse-subtle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.animate-pulse-subtle {
  animation: pulse-subtle 3s ease-in-out infinite;
}

@keyframes border-glow {
  0%,
  100% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
}

@keyframes corner-pulse {
  0%,
  100% {
    opacity: 0;
    /* transform: scale(0.8); */
  }
  50% {
    opacity: 1;
    /* transform: scale(1.2); */
  }
}

@keyframes line-flow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line-flow-vertical {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes corner-turn {
  0% {
    opacity: 0;
    /* transform: scale(0) rotate(0deg); */
  }
  25% {
    opacity: 1;
    /* transform: scale(1) rotate(0deg); */
  }
  50% {
    opacity: 1;
    /* transform: scale(1) rotate(90deg); */
  }
  75% {
    opacity: 1;
    /* transform: scale(1) rotate(90deg); */
  }
  100% {
    opacity: 0;
    /* transform: scale(0) rotate(90deg); */
  }
}

.animate-border-glow {
  animation: border-glow 3s ease-in-out infinite;
}

.animate-corner-pulse {
  animation: corner-pulse 2s ease-in-out infinite;
}

.animate-line-flow {
  animation: line-flow 2.5s ease-in-out infinite;
}

.animate-line-flow-vertical {
  animation: line-flow-vertical 2.5s ease-in-out infinite;
}

.animate-corner-turn {
  animation: corner-turn 2.5s ease-in-out infinite;
}
.modal-backdrop {
  opacity: 0;
  pointer-events: none; /* Prevent interaction when hidden */
  transition: opacity 0.3s ease;
}

.modal-backdrop.active {
  opacity: 1;
  pointer-events: all; /* Allow interaction when visible */
}

.mbp-subtitle {
  @apply text-xl sm:text-5xl pb-[18%] h-[3rem] overflow-hidden;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.flex {
  min-width: 0;
}

/* New Css */
.container {
  max-width: 1280px !important;
}
.container.container-sm {
  max-width: 1100px !important;
}
.custom_table thead th {
  padding: 0 16px 10px 16px;
  font-weight: 600;
  font-size: 14px;
  color: #9ca3af;
  border-bottom: 2px solid #1a1a1a;
  black-space: nowrap;
}
.custom_table tbody td {
  padding: 10px 16px;
  font-size: 14px;
  black-space: nowrap;
}
.custom_datepicker {
  background: transparent;
  border: 1px solid #262626;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
  color: #fff;
  height: 40px;
}
.custom_dropdown_portal > div {
  z-index: 100 !important;
  left: -50px !important;
}
.profile_menu {
  min-width: 250px;
  background-color: #262626;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation: fadeIn 150ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile_button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 100px;
  padding: 5px 8px;
  transition: background-color 0.3s ease;
}
.profile_button:hover {
  background-color: #333333;
}
.profile_button:focus {
  box-shadow: 0 0 0 2px #000;
}
.DropdownMenuItem a {
  padding: 12px;
  font-size: 14px;
  line-height: 1;
  color: #ededed;
  border-radius: 5px !important;
  display: block;
  outline: none;
  transition: 0.2s all;
}
.DropdownMenuItem a:hover {
  background-color: rgb(0 0 0 / 80%);
  color: #fff;
}
.DropdownMenuItem[data-highlighted] {
  background-color: rgb(0 0 0 / 80%);
  color: #fff;
}
.DropdownMenuSeparator {
  height: 1px;
  background-color: #333333;
  margin: 5px;
}
.custom_tooltip_content > div {
  z-index: 101 !important;
  font-size: 12px;
  background: #131418;
  border-radius: 6px;
  padding: 5px;
}
.custom_tab button {
  height: 48px;
  width: 100%;
  align-items: center;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  text-align: left;
  border: 1px solid transparent;
}
.custom_tab button[data-state="active"] {
  background: #131212;
  border: 1px solid #262626;
}
.SwitchRoot {
  width: 36px;
  height: 20px;
  background-color: #595959;
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    box-shadow: 0 0 0 2px black;
  }
  &[data-state="checked"] {
    background-color: #22c55e;
  }
}
.SwitchThumb {
  display: block;
  width: 14px;
  height: 14px;
  background-color: #acacac;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(4px);
  will-change: transform;
  &[data-state="checked"] {
    transform: translateX(24px);
    background-color: #fff;
  }
}
.SeparatorRoot {
  background-color: #2e3032;
}
.SeparatorRoot[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}
.SeparatorRoot[data-orientation="vertical"] {
  height: 100%;
  width: 1px;
}
.CheckboxRoot {
  background-color: #595959;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px #000;
}
.CheckboxRoot:hover {
  background-color: #595959;
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}
.CheckboxIndicator {
  color: var(--violet-11);
}
.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.RadioGroupItem {
  background-color: #595959;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 0 2px 10px #000;
}
.RadioGroupItem[data-state="checked"] {
  background-color: #3b82f6;
}
.RadioGroupItem:hover {
  background-color: #595959;
}
.RadioGroupItem:focus {
  box-shadow: 0 0 0 2px black;
}
.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.RadioGroupIndicator::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
}
.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 99;
}

.DialogContent {
  background-color: #111;
  border-radius: 6px;
  box-shadow: 0 0 0 1px color-mix(in oklab, #ffffff2c, #3a3a3a 25%),
    0 12px 60px #0003, 0 16px 64px #0006, 0 16px 36px -20px #000000e6;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 100;
  overflow-y: auto;
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  font-weight: 600;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.google_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  height: 52px;
  user-select: none;
  background: #212121;
  border: 1px solid #3d3d3d;
  color: #fff;
}
.google_btn:hover {
  background: #121212 !important;
}
.custom_seperator {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
}
.custom_inpgrp {
  position: relative;
}
.modal_close_brn {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #2e2e2e;
}
.modal_close_brn:hover {
  background-color: #535353;
}
.custom_grpinp {
  position: relative;
}
.custom_grpinp button {
  position: absolute;
  right: 5px;
  height: 36px;
  top: 5px;
  border-radius: 3px;
}
.custom_grpinp input {
  width: 100%;
  border-radius: 5px;
  height: 46px;
  padding: 12px;
  background: #000000;
  border: 1px solid #323232;
  color: #fff;
  font-size: 16px;
}
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.items-start {
  align-items: flex-start !important;
}
.wallet_inp {
  background: transparent;
  font-size: 56px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin: 12px 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.wallet_countdown_panel {
  position: absolute;
  right: 0;
  top: -46px;
}
.deposit_step {
  position: relative;
}
.deposit_step1 {
  display: block;
}
.deposit_step2 {
  display: none;
}
.deposit_step3 {
  display: none;
}
.history_card {
  border-radius: 6px;
  width: 200px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #161616;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.HoverCardArrow {
  fill: #161616;
}
.history_card_list li {
  padding: 10px;
  cursor: pointer;
}
.history_card_list li:hover {
  background-color: #212121;
}
.DropdownMenuContent {
  min-width: 120px;
  background-color: #262626;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation: fadeIn 150ms ease-in-out;
}

.react-datepicker {
  background-color: #181818 !important;
  border: 1px solid #181818 !important;
}
.react-datepicker__header {
  background-color: #181818 !important;
  border-bottom: 1px solid #181818 !important;
}
.react-datepicker__time-container {
  border-left: 1px solid #181818 !important;
}
.react-datepicker__time-container .react-datepicker__time {
  background-color: #181818 !important;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name,
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  color: #fff !important;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: #262626 !important;
}
.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
.react-datepicker__year-text:not([aria-disabled="true"]):hover {
  background-color: #262626 !important;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: #ccc !important;
}
.react-datepicker-wrapper {
  width: 100%;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.notification_dropdown_portal > div {
  z-index: 100 !important;
  left: -10px !important;
}
.notification_menu {
  width: 440px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #262626;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation: fadeIn 150ms ease-in-out;
}
.h-[fit-content] {
  height: fit-content !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.trading_card {
  max-height: calc(-150px + 100vh);
  height: fit-content;
  overflow: auto;
}
.ScrollAreaRoot {
  overflow: hidden;
  --scrollbar-size: 10px;
}
.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: var(--black-a3);
  transition: background 160ms ease-out;
}
.ScrollAreaScrollbar:hover {
  background: var(--black-a5);
}
.ScrollAreaScrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: var(--mauve-10);
  border-radius: var(--scrollbar-size);
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}
.resolved_event a > div {
  background: #2b2b2b !important;
}
.active_event {
  background: #161616;
}
.comment-dropdown-content {
  min-width: 200px;
  background-color: #262626;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation: fadeIn 150ms ease-in-out;
}
.bottom-nav-fixed {
  display: flex;
  position: fixed;
  overflow: visible;
  left: 0px;
  right: 0px;
  bottom: 0px;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  padding-bottom: env(safe-area-inset-bottom);
  transition: padding-bottom 250ms cubic-bezier(0.42, 0, 0.58, 1);
  touch-action: none;
}
/* Media queries */
@media screen and (max-width: 1023px) {
  .custom_tab button {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .px-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 575px) {
  .profile_top {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  h1,
  h2,
  h3,
  p {
    font-size: 4vw; /* Adjust based on your design */
  }
}
