name: CI

on:
  push:          # monitor all branches
  pull_request:  # monitor all PRs

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: npm
      
      - name: Install dependencies
        run: |
          npm install --legacy-peer-deps
          npm install --no-save --ignore-scripts --legacy-peer-deps sharp

      - name: Run lint
        run: npm run lint
        continue-on-error: true

      - name: Build project
        run: npm run build
        env:
          NODE_ENV: production
          NEXT_TELEMETRY_DISABLED: 1
          SHARP_IGNORE_GLOBAL_LIBVIPS: 1
          NEXT_IMAGE_ALLOWED_DOMAINS: localhost

